html {
    font-size: 1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 23px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

input,
button,
select,
textarea {
    font-size: 16px;
}

    input[type="date"],
    input[type="time"] {
        height: 44px;
        font-size: 16px;
        padding: 6px 10px;
    }

.app-header {
    position: relative; /* viktigt för overlay */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    box-shadow: 0 0 10px gray;
}

    .app-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1; /* overlay under text */
    }

    .app-header * {
        position: relative;
        z-index: 2; /* text och innehåll ovanpå overlay */
    }
.app-header {
}

body {
    margin-top: 150px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Candara;
}
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url("/images/coffeeshop.png") no-repeat center / cover;
        z-index: -1;
    }

h1 {
    margin-top: 40px;
    font-family: Britannic;
    color: white;
    text-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    transform: scaleY(1.6);
    font-weight: 600;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 420px;
    padding: 0 16px;
    padding-bottom: 120px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 30px;
}
.big-button {
    display: flex;
    justify-content: center;
    position: relative; /* för overlay */
    overflow: hidden; /* viktigt så overlay stannar inom knappen */
    font-size: 33px;
    padding: 14px 10px;
    text-align: center;
    border-radius: 20px;
    width: 330px;
    margin-bottom: 20px;
}

    .big-button.shop {
        border: 3px solid lightblue;
        height: 80px;
    }

        .big-button.shop::before {
            background: rgba(30, 110, 200, 0.6); /* blå */
        }

    .big-button.work {
        border: 3px solid lightgreen;
    }

        .big-button.work::before {
            background-color: rgba(30, 130, 60, 0.6); /* grön */

        }

    .big-button.reminders {
        border: 3px solid pink;
    }

        .big-button.reminders::before {
            background-color: rgba(150, 70, 200, 0.6); /* lila */
        }

    .big-button.items {
        border: 3px solid coral;
    }

        .big-button.items::before {
            background-color: rgba(150, 50, 0, 0.6); /* lila */
        }

    .big-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        z-index: 0; /* under text */
    }

    .big-button > * {
        position: relative;
        z-index: 1; /* ovanpå overlay */
    }

    .big-button:hover {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        text-shadow: none;
        border: 3px solid white;
        box-shadow: 0 0 5px white;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .big-button:active {
        color: black;
        text-shadow: none;
        box-shadow: 0 0 10px white;
        background-color: rgba(255, 255, 255, 0.3);
    }

.input-field {
    
    padding: 15px;
    font-size: 1rem;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    margin-top: 25px;
    border: 1px solid white;
    margin-right: 1px;
    color: white;
}
    .input-field::placeholder {
        color: white;
    }
.input-field::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.shop-input {
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
    color: white;
}

.add-button {
    width: 350px;
    position: relative; /* för overlay */
    overflow: hidden; /* viktigt så overlay stannar inom knappen */
    text-shadow: 0 0 14px rgba(0, 20, 20, 0.5);
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid white;
    padding: 8px 10px;
    text-align: center;
    background-color: rgba(50, 230, 105, 0.6);
    margin-top: 20px;
    font-weight: 600;
}

    .add-button::before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(50, 100, 105, 0.5); /* overlay */
        border-radius: 10px;
        z-index: 0; /* under text */
    }

    .add-button > * {
        position: relative;
        z-index: 1; /* ovanpå overlay */
    }

    .add-button:hover {
        box-shadow: none;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(50, 230, 105, 0.6); /* svart med 50% transparens */
        border-radius: 10px;
    }

.shopping-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    padding-right: 5px;
    align-items: center;
}

    .shopping-list li {
        padding: 9px;
        padding-left: 15px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 345px;
        color: white;
        border-radius: 10px;
        font-size: 18px;
        border: 1px solid white;
        box-shadow: 0 0 8px rgba(90, 20, 80, 0.9);
        background-color: rgba(90, 55, 100, 0.8);
    }

.remove-button {
    background-color: indianred;
    color: white;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

    .remove-button:active {
        background-color: darkred;
    }

.back-link {
    display: inline-block;
    margin-top: 30px;
}

.small-field {
    flex: 0 0 auto;
    width: 180px;
    font-size: 14px;
    padding: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(90, 20, 80, 0.9);
    color: white;
}
    .small-field:focus,
    .small-field:not(:placeholder-shown) {
        color: white;
    }
    .small-field::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

.date-time-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 40px;
    padding-top: 20px;
}

.back-button {
    position: relative; /* för overlay */
    overflow: hidden; /* viktigt så overlay stannar inom knappen */
    text-shadow: 0 0 14px black;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid white;
    width: 97%;
    max-width: 350px;
    padding: 7px 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .back-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(190, 5, 180, 0.5); /* overlay */
        border-radius: 10px;
        z-index: 0; /* under text */
    }

    .back-button > * {
        position: relative;
        z-index: 1; /* ovanpå overlay */
    }

    .back-button:hover {
        box-shadow: none;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.1); /* svart med 50% transparens */
        border-radius: 10px;
    }

.shop-input .input-field {
    width: 380px;
    max-width: 350px;
    font-size: 18px;
    padding: 14px;
}

.add-button,
.add-button:visited,
.add-button:hover,
.add-button:active,
.add-button:focus {
    color: white;
    text-decoration: none;
}

.big-button,
.big-button:visited,
.big-button:hover,
.big-button:active,
.big-button:focus {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 8px black;
    font-weight: 600;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

@media (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
    }


    .app-header{
        padding: 40px;
    }

    .big-button {
        margin-bottom: 27px;
        margin-top: 0px;
        width: 350px;
        border-radius: 20px;
        transform: scaleY(1.15);
    }
    .button-container {
        margin-top: 20px;
        
    }
    h1 {
        margin-top: 15px;
        font-size: 40px;
    }

    .input-field {
        max-width: 300px;
        min-width: 300px;
        min-height: 60px;
        max-height: 60px;
        font-size: 18px;
        margin-top: 40px;
        border: 2px solid white;
    }

    .small-field {
        max-width: 160px; /* keeps them readable */
        font-size: 18px;
        width: 40%;
        margin-top: 5px;
        margin-left: 5px;
        max-height: 30px;
    }

    .date-time-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }

    .add-button {
        width: 97%;
        border-radius: 10px;
        margin-top: 0px;
        padding: 5px;
    }

    .shopping-list li {
        width: 97%;
        max-height: 65px;
    }

    body {
        background: white;
        margin-top: 50px;
        background: url("/images/glass2.jpg") no-repeat center / cover;
        margin-top: 125px;
        margin-bottom: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
