html {
    font-size: 1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 23px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
input,
button,
select,
textarea {
    font-size: 16px;
}
    input[type="date"],
    input[type="time"] {
        height: 44px;
        font-size: 16px;
        padding: 6px 10px;
    }
.app-header {
    position: relative; /* viktigt för overlay */
    position: fixed;
    background: url("/images/pex3.jpg") no-repeat center / cover;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 40px;
    padding-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px rgba(90, 20, 40, 1);
    border-bottom: 2px solid white;
}
    .app-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(90, 20, 40, 0.7); 
        z-index: 1; /* overlay under text */
    }
    .app-header * {
        position: relative;
        z-index: 2; /* text och innehåll ovanpå overlay */
    }
body {
    margin-bottom: 100px;
    margin-top: 150px;
    background-color: #14161a;
    background: url("/images/pex3.jpg") no-repeat center / cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Candara;
}

h1 {
    margin-top: 50px;
    font-family: 'Century Gothic';
    color: white;
    text-shadow: 0 0 14px rgb(125, 0, 20);
}
.page-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 420px;
    padding: 0 16px;
    padding-bottom: 120px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 120px;
    align-items: center;
}

.big-button {
    position: relative; /* för overlay */
    overflow: hidden; /* viktigt så overlay stannar inom knappen */
    text-shadow: 0 0 14px rgba(255, 255, 255, 1);
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    width: 90%;
    max-width: 500px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.3);
}
    .big-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(50, 0, 105, 0.5); /* overlay */
        border-radius: 50px;
        z-index: 0; /* under text */
    }
    .big-button > * {
        position: relative;
        z-index: 1; /* ovanpå overlay */
    }

    .big-button:hover {
        box-shadow: none;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.4); /* svart med 50% transparens */
        border-radius: 50px;
    }

    .big-button:active {
        box-shadow: none;
        color: black;
    }

.input-field {
    padding: 15px;
    font-size: 1rem;
    width: 380px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
    margin-top: 90px;
    border: 1px solid white;
    margin-right: 1px;
}

p{
    margin-top: 20px;
    color: black;
}

.add-button {
    position: relative; /* för overlay */
    overflow: hidden; /* viktigt så overlay stannar inom knappen */
    text-shadow: 0 0 14px rgba(255, 255, 255, 1);
    font-size: 25px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.3);
    background-color: rgba(50, 230, 105, 0.5);
}
.add-button::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 100, 105, 0.5); /* overlay */
    border-radius: 20px;
    z-index: 0; /* under text */
}

.add-button > * {
    position: relative;
    z-index: 1; /* ovanpå overlay */
}

    .add-button:hover {
        box-shadow: none;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(50, 230, 105, 0.6); /* svart med 50% transparens */
        border-radius: 20px;
    }

.shopping-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    list-style: none;
    padding: 0;
    padding-right: 5px;
    align-items: center;
}

    .shopping-list li {
        padding: 9px;
        padding-left: 15px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 370px;
        color: white;
        border-radius: 10px;
        font-size: 18px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        background-color: rgba(90, 0, 90, 0.5);
    }

.remove-button {
    background-color: indianred;
    color: white;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}

.remove-button:active{
    background-color: darkred;
}

.back-link {
    display: inline-block;
    margin-top: 30px;
}
.date-time-row {
    display: flex;
    gap: 10px;
}

.small-field {
    flex: 0 0 auto;
    width: 120px;
    font-size: 14px;
    padding: 14px;
    margin-right: 9px;
    margin-top: 20px;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 40px;
    padding-top: 20px;
}
.back-button {
    position: relative; /* för overlay */
    overflow: hidden; /* viktigt så overlay stannar inom knappen */
    text-shadow: 0 0 14px rgba(255, 255, 255, 1);
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
    border: 2px solid white;
    width: 90%;
    max-width: 300px;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.3);
}
.back-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(190, 5, 180, 0.5); /* overlay */
    border-radius: 50px;
    z-index: 0; /* under text */
}

.back-button > * {
    position: relative;
    z-index: 1; /* ovanpå overlay */
}

.back-button:hover {
    box-shadow: none;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1); /* svart med 50% transparens */
    border-radius: 50px;
}

.shop-input .input-field {
    width: 260px;
    max-width: 350px;
    font-size: 18px;
    padding: 14px;
}
.add-button,
.add-button:visited,
.add-button:hover,
.add-button:active,
.add-button:focus {
    color: white;
    text-decoration: none;
    
}
.big-button,
.big-button:visited,
.big-button:hover,
.big-button:active,
.big-button:focus {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .big-button{
        margin-bottom: 40px;
        margin-top: 0px;
    }
    .input-field {
        width: 90%;
        max-width: 300px;
        min-width: 300px;
        font-size: 18px;
        margin-top: 50px;
        border: 2px solid white;
    }
    .small-field {
        max-width: 160px; /* keeps them readable */
        font-size: 18px;
        width:40%;
        margin-top:10px;
        margin-left: 5px;
        max-height: 30px;

    }
    .date-time-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }
    .add-button {
        width: 85%;
        border-radius: 30px;
        margin-top: 10px;
        padding: 10px;
    }
    .shopping-list li{
        width: 90%;
        max-height: 65px;
    }
}

