html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: lightsteelblue;
}

h1 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: midnightblue;
}


.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
}

.big-button {
    width: 75%;
    max-width: 500px;
    text-align: center;
    padding: 13px 0;
    font-size: 22px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

    .big-button:hover {
        background-color: royalblue;
    }

.input-field {
    padding: 10px;
    font-size: 16px;
    width: 280px;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 10px;
}

p{
    margin-top: 20px;
}

.add-button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 16px;
    background-color: darkseagreen;
    border-radius: 10px;
}

.add-button:hover{
    background-color: mediumseagreen;
}

.shopping-list {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    
}

    .shopping-list li {
        padding: 7px;
        margin-bottom: 10px;
        background-color: aliceblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 380px;
        border-radius: 10px;
    }

.remove-button {
    background-color: indianred;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.remove-button:hover{
    background-color: darkred;
}

.back-link {
    display: inline-block;
    margin-top: 30px;
}

