@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="button-container">
        <a class="big-button shop" href="/Shop"><span>G r o c e r i e s</span></a>
        <a class="big-button items" href="/thingsToBuy"><span>T h i n g s  T o  B u y</span></a>
        <a class="big-button reminders" href="/Reminders"><span>H a p p e n i n g s</span></a>
        <a class="big-button work" href="/Work"><span>W o r k  H o u r s</span></a>
        
    </div>

</div>
