@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Min vardagsorganisatör</h1>

    <div class="button-container">
        <a class="big-button" href="/Shop">Handla</a>
        <a class="big-button" href="/Reminders">Kom ihåg</a>
        <a class="big-button" href="/Work">Arbete</a>
    </div>

</div>
