@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="button-container">
        <a class="big-button" href="/Shop"><span>H a n d l a</span></a>
        <a class="big-button" href="/Reminders"><span>K o m  i h å g</span></a>
        <a class="big-button" href="/Work"><span>A r b e t e</span></a>
    </div>

</div>
